# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Django
db.sqlite3
*.log

# Static files (generated)
staticfiles/

# Media (optional)
media/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env